@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,300i,600,400i');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Browser options */
::-moz-selection {
  background:                 #DD137B;
  color:                      #ffffff;
}
::selection {
  background:                 #DD137B;
  color:                      #ffffff;
}


html, body {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}

img {
  vertical-align: middle;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 64pt;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background: #000;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  padding-bottom: 1em !important;
  margin-top: -1px !important;
}

#news h1, #about h1 {
  padding-top: 1em;
}


h2 {
  font-size: 16pt;
  margin: 40px 0 10px 20px;
  padding: 0;
}

p {
  margin: 1em 1em 2em 1em;
}

hr {
  width: 100%;
  border: none;
  height: 4px;
  background: #DD137B;
}
#headerLine {
  background: #000;
  width: 100%;
  padding: 5px 0 5px 0;
  font-size: 7.5pt;
  color: #fff;
  text-align: center;
}

#headerLine a, #footer a {
  color: #fff;
  text-decoration: none;
  transition: all ease-in-out 0.1s;
}

#headerLine a:hover, #footer a:hover {
  color: #DD137B;
  transition: all ease-in-out 0.1s;
}

#headerLine img {
  vertical-align: middle;
}

#topLinks {
  background: #000;
  width: 100%;
  height: 63px;
  margin: 0 0 0px 0;
  position: relative;
  z-index: 8000;
}

#topLinks a {
  float: left;
  color: #fff;
  text-transform: uppercase;
  margin: 0px 50px 0 0px;
  text-decoration: none;
  transition: all ease-in-out 0.1s;
}

#topLinks a span:hover {
  color: #DD137B;
  padding: 0 0 3px 0;
  transition: all ease-in-out 0.1s;
}

#topLinks span {
  float: left;
  margin: 20px 0px 0 0;
  color: #fff;
}

#topLinks img {
  vertical-align: middle;
}

#graphics {
  width: 100%;
  height: 500px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
  ),url("images/boat.jpg") no-repeat;
  background-size: cover;
  background-position: center 70%;
  overflow: hidden;
  position: relative;
  top: -64px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

#graphics img.logo {
  position: absolute;
  top: 50px;
}

#graphics blockquote {
  color: #f3f3f3;
  width: 480px;
  font-size: 16pt;
  font-style: italic;
  position: absolute;
  top: 185px;
  font-weight: 300;
  padding: 0 0 0 110px;
  line-height: 22pt;
}

#graphics blockquote div.quotes {
  width: 38px;
  height: 25px;
  background: url("images/quotes.png");
  position: absolute;
  left: 50px;
  top: 5px;
}

#graphics #peopleImage {
  position: absolute;
  background: url("images/legopirat.png");
  height: 358px;
  width: 345px;
  right: 100px;
  top: 135px;
}

#claim {
  text-align: center;
  padding-bottom: 2em;
  margin-top: -2em;
}

#middleLinks {
  padding: 50px 0 100px 0;
  flex: content;
  text-align: center;
}

#middleLinks a {
  width: 250px;
  height: 120px;
  display: inline-block;
  background: #ffffff;
  margin: 30px 30px 0 0;
  text-decoration: none !important;
}

#middleLinks div.button {
  width: 180px;
  height: 100%;
  margin: auto;
  border-top: 4px solid #DD137B;
  position: relative;
  font-size: 24pt;
  color: #343434;
  text-align: center;
  transition: all ease-in-out 0.1s;
}

#middleLinks a:hover div.button {
  color: #DD137B;
  transition: all ease-in-out 0.1s;
}

#middleLinks div.button span.smallFont {
  font-size: 12pt;
}

#middleLinks div.button img {
  position: absolute;
  bottom: 5px;
  right: -35px;
}

#gallery {
  text-align: center;
  padding-bottom: 5em;
}

#container {
  color: #343434;
}

#videos {
  width: 300px;
  margin: 25px 0 20px 10px;
  height: 850px;
  float: right;
  background: #000;
  color: #ffffff;
}

#videos h1 {
  color: #ffffff;
  font-size: 32pt;
  border: none;
  padding: 0 !important;
  margin: 10px !important;
}

#videos div.top3 {
  background: #f3f3f3;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#news {
  padding: 25px 320px 25px 0;
  min-height: 600px;
}

#news ul {
  color: #343434;
}

#news li, #regions li {
  line-height: 22pt;
}

#news a, #about a, #wrapper a {
  color: #343434;
  text-decoration: underline;
  transition: all ease-in-out 0.1s;
}

#news a:hover, #about a:hover, #wrapper a:hover {
  color: #DD137B;
  transition: all ease-in-out 0.1s;
}

#about {
  color: #343434;
  padding: 25px 0 25px 0;
}

#about img, #wrapperContent img {
  border: 1px solid #cccccc;
  padding: 10px;
}

#about p {
  line-height: 18pt;
}

#wrapperContent {
  color: #343434;
  padding: 0 0 2em 0;
  position: relative;
}

#wrapperContent p, #wrapperContent h2 {
  color: #343434;
}

#wrapperContent h1 {
  margin: 0 0 0.5em 0;
  padding: 1em 0 0 0;
}

#wrapperContent p, #about p {
  padding: 0 1em 1em 1em;
}

#footer {
  /*background: url("images/lightGrey.png") repeat;*/
  background: #000;
  font-size: 10pt;
  padding-bottom: 50px;
}

#footer div.content {
  padding: 25px 0 25px 0;
}

#footer div.rightCol {
  position: absolute;
  right: 0;
  top: 60px;
  text-align: right;
}

#disclaimer {
  background: #343434;
  color: #DD137B;
  font-size: 8.5pt;
  padding: 15px 0 15px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  cursor: help;
}

#disclaimer .hand {
  display: inline-block;
  background: url('images/handka_small.png');
  height: 16px;
  width: 42px;
  vertical-align: middle;
}

#disclaimer:hover .hand {
  background: url('images/handka_small_hover.png');
}

#disclaimer .rightHand {
  transform: scaleX(-1);
}

div.content {
  min-width: 1150px;
  width: 100%;
  margin: auto;
  position: relative;
  color: #f3f3f3;
}

#footer div.content {
  width: 90%;
}

.floatRight {
  float: right !important;
}

.copyleft {
  display: inline-block;
  transform: matrix(-1, 0, 0, 1, 0, 0) !important;
}

.textCenter {
  text-align: center;
}

#scroll {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.center {
  text-align: center;
}

.smallText {
  font-size: 8.5pt;
}
